{% extends "auctions/layout.html" %}
{% block body %}
  <h2>Active Listings</h2>
  <form action="{% url 'displaycategory' %}" method="POST" class="my-3">
    {% csrf_token %}
    <label for="category">category</label>
    <select name="category" id="category">
      {% for item in categories %}<option value="{{ item }}">{{ item }}</option>{% endfor %}
    </select>
    <button type="submit">Filter</button>
  </form>
  <div class="row mx-3">
    {% for item in activeItems %}
      <div class="card mx-3" style="width: 20rem">
        <img class="card-img-top" src="{{ item.imageURL }}" alt="{{ item.title }}" />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <a href="{% url 'listing' id=item.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock body %}
